.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar.lock
erlang_ls.config
tool_output/*

tool_output.zip
*.pyc
*.cpython-312.pyc
src/toast/__pycache__/*
src/toast/__pycache__/z3_interface.cpython-312.pyc
src/toast/__pycache__/z3_interface.cpython-312.pyc
src/toast/__pycache__/z3_interface.cpython-312.pyc
